[mysqld]

#symbolic-links	    = 0
bind-address	    = 0.0.0.0
default-time-zone   = "Asia/Jakarta"
#log_error           = /var/log/error.log
sql_mode		    = ""
#log_warnings       = 2
local-infile	    = 0
tmpdir		        = /tmp
#early-plugin-load	= keyring_file.so